<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="//cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/inventory.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">IMS</a>
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="#">Dashbord</a>
          <a class="nav-link" href="/sales">Sales</a>
          <a class="nav-link" href="/inventory">inventory</a>
          <a class="nav-link" href="/stock">Stock</a>
        </div>
      </div>
    </div>
  </nav>
  <!-- navbar end -->

  <div class="container">
    <div class="extreme">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">nav menu</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
          </tr>
          <tr>
            <th scope="row">2</th>
          </tr>
          <tr>
            <th scope="row">3</th>
          </tr>
          <tr>
            <th scope="row">4</th>
          </tr>
          <tr>
            <th scope="row">5</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add New Item
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form method="POST" action="/inventory">
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Name</label>
                  <input name="name" type="text" class="form-control" id="name">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">BP</label>
                  <input name="BP" type="text" class="form-control" id="buying_price">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">SP</label>
                  <input name="SP" type="text" class="form-control" id="selling_price">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">stock_quantity</label>
                  <input name="stock" type="text" class="form-control" id="stock">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <!-- modal -->
      <!-- search -->
      <!-- <div class="input-group">
        <label class="form-label" for="form1">Search</label>
        <input id="search-input" type="search" id="form1" class="form-control" />
      </div> -->
      <!-- table -->
      <table id="table_id,myTable" class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">BP</th>
            <th scope="col">SP</th>
            <th scope="col">QUANTITY</th>
            <th scope="col">Sale</th>
            <!-- <th scope="col">Edit</th> -->
            <!-- <th scope="col">Delete</th> -->
          </tr>
        </thead>
        <tbody>
          {%for products in y%}
          <tr>
            <td>{{products[0]}}</td>
            <td>{{products[1]}}</td>
            <td>{{products[2]}}</td>
            <td>{{products[3]}}</td>
            <td>{{products[4]}}</td>
            <td>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModal{{products[0]}}">
                make sale
              </button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal{{products[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content" style="background-color: azure; color: black;">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">make sale</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form method="POST" action="/sales">
                        <div class="mb-3">
                          <input name="item_id" type="hidden" value="{{products[0]}}">
                        </div>
                        <div class="form-group">
                          <label for="" class="form-label">Quantity</label>
                          <input name="item_quantity" type="text" class="form-control" id="item_quantity">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
  <!-- JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
  <script src=//cdn.datatables.net/1.11.0/js/jquery.dataTables.min.js></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#myTable').DataTable();
    });
  </script>
</body>

</html>